body {
  background-color: #212121;
  color: #e1e1e1;
  font-family: Roboto;
}

.now-playing {
  text-align: center;
}

.tracklist-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50vw;
  margin: auto;
}

.track {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 16px;
  background-color: #363636;
  color: #e1e1e1;
}

.track:hover {
  cursor: pointer;
  background-color: #464646;
}
