* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background-color: #212121;
  color: #e1e1e1;
  padding: 1rem;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  position: sticky;
  bottom: 0;
  background-color: #212121;
  padding: 1rem 0;
}

nav {
  display: flex;
}

nav a {
  margin-right: 1rem;
  color: #e1e1e1;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 16px;
  background-color: #363636;
  color: #e1e1e1;
  text-transform: lowercase;
}

button:hover {
  cursor: pointer;
  background-color: #464646;
}

label {
  display: block;
  margin-top: 1rem;
}

input {
  width: 34vw;
}

input,
textarea {
  background-color: #464646;
  color: #e1e1e1;
  border: none;
  padding: 0.5rem;
  display: block;
}

textarea {
  width: 100%;
  height: 75vh;
}

.now-playing-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.now-playing-header input {
  margin-bottom: 1rem;
}

.now-playing {
  text-align: center;
  text-transform: lowercase;
}

.tracklist-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50vw;
  margin: auto;
  margin-top: 2rem;
}

.current-track {
  color: #119900;
}

.destructive,
.error {
  color: #dd3333;
}

.error {
  margin-top: 0.5rem;
  text-align: center;
}

.error-path {
  font-family: monospace;
  padding: 2px;
  background-color: #6c6c6c;
  border-radius: 4px;
  color: #fff;
}

.tracklist-titles {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.centered {
  display: flex;
  justify-content: center;
}

.add-tracklist-form input,
textarea {
  margin-bottom: 1rem;
}

.delete-button {
  margin-bottom: 1rem;
}
