* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  background-color: #212121;
  color: #e1e1e1;
  padding: 1rem;
  margin: 0;
}

nav {
  display: flex;
}

nav a {
  margin-right: 1rem;
  color: #e1e1e1;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 16px;
  background-color: #363636;
  color: #e1e1e1;
  text-transform: lowercase;
}

button:hover {
  cursor: pointer;
  background-color: #464646;
}

.now-playing-container {
  position: sticky;
  bottom: 0;
  background-color: #212121;
  padding: 1rem 0;
}

.now-playing {
  text-align: center;
  text-transform: lowercase;
}

.tracklist-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50vw;
  margin: auto;
  margin-top: 2rem;
}

.current-track {
  color: #119900;
}

.destructive {
  color: #dd3333;
}

.tracklist-titles {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.centered {
  display: flex;
  justify-content: center;
}
